# Copy this file to docker-compose.override.yml and customize it to your needs.
# This is an example file only, and is NOT loaded by default.

services:
  webapp:
    environment:
        - XDEBUG_CONFIG=idekey=PHPSTORM start_with_request=true var_display_max_depth=-1 max_nesting_level=3000 client_host=172.17.0.1
        - PHP_IDE_CONFIG=serverName=application.local
        - XDEBUG_MODE=develop,debug,coverage

    ports: !reset []

  nginx:
    ports: !reset []

  postgres:
    ports: !reset []

