services:
    webapp:
        build:
            context: .
            dockerfile: docker/webapp/Dockerfile
            target: dev
        volumes:
            - .:/app
            - ./docker/webapp/Caddyfile:/etc/caddy/Caddyfile
            - ./docker/webapp/php.ini:/usr/local/etc/php/php.ini
        networks:
            traefik: ~
            app-net: ~
            aspire-net:
                aliases:
                    - 'api.aspiredev.org'
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.ap-api.rule=Host(`api.aspiredev.org`)"
            - "traefik.http.routers.ap-api-https.rule=Host(`api.aspiredev.org`)"
            - "traefik.http.routers.ap-api-https.tls=true"

    redis:
        image: redis:latest
        networks:
            - app-net

    postgres:
        image: postgres:latest
        environment:
            - POSTGRES_PASSWORD=password
            - PGDATA=/opt/pgdata
            - POSTGRES_DB=aspirecloud
        volumes:
            - postgresdata:/opt/pgdata
        networks:
            app-net: ~
            aspire-net:
                aliases:
                    - 'db.aspiredev.org'

    queue-worker:
        build:
            context: .
            dockerfile: docker/laravel-worker/Dockerfile
            target: dev
        entrypoint: [ 'bin/queue-worker' ]
        restart: unless-stopped
        volumes:
            - .:/app
        networks:
            - app-net
            - aspire-net

    elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:8.15.0
        container_name: elasticsearch
        environment:
            - discovery.type=single-node
            - ES_JAVA_OPTS=-Xms512m -Xmx512m
            - xpack.security.enabled=false
        ulimits:
            memlock:
                soft: -1
                hard: -1
        volumes:
            - esdata:/usr/share/elasticsearch/data
        networks:
            - app-net
            - aspire-net

    cli:
        build:
            context: .
            dockerfile: docker/cli/Dockerfile
            target: dev
        volumes:
            - .:/app
        networks:
            - app-net
            - aspire-net

    mailpit:
        image: axllent/mailpit:v1.21.4
        restart: unless-stopped
        networks:
            app-net: ~
            aspire-net:
                aliases:
                    - 'mail.aspiredev.org'
        environment:
            MP_MAX_MESSAGES: 500
            MP_SMTP_AUTH_ACCEPT_ANY: 1
            MP_SMTP_AUTH_ALLOW_INSECURE: 1

    prometheus:
        image: prom/prometheus:latest
        container_name: prometheus
        volumes:
            - ./docker/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
        networks:
            - app-net
            - aspire-net

    grafana:
        image: grafana/grafana:latest
        container_name: grafana
        networks:
            - app-net
            - aspire-net
        volumes:
            - ./docker/grafana:/etc/grafana/provisioning

networks:
    app-net: ~
    aspire-net:
        external: true
    traefik:
        external: true

volumes:
    postgresdata: ~
