includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - baseline.neon

parameters:
    level: 6
    paths:
        - app/
    checkModelProperties: true
    checkOctaneCompatibility: true
    noEnvCallsOutsideOfConfig: true
    checkModelAppends: true
    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        # Can occasionally catch a mistake, but usually just forbids using assert() in places that actually need it
        - '#will always evaluate to true#'



