name: Commit Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions: # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup PHP
        uses: shivammathur/setup-php@9e72090525849c5e82e596468b86eb55e9cc5401 # v2
        with:
          php-version: '8.4'

      - name: Install Composer dependencies
        run: composer install

      - name: Create .env file
        run: cp .env.example .env

      - name: Create App Key
        run: php artisan key:generate

      - name: Run tests
        run: |
          vendor/bin/phpstan --memory-limit=1G analyse
          php artisan test tests/Unit

      # [chuck 2025-02-06] Removed pint.  Its not only grotesquely slow, it doesn't even fix things in one pass.
      # If we're going to have style wars, I'd rather it were between humans and not within one insane formatter.

      # - name: Run tests
      #   run: |
      #     vendor/bin/pint --test
      #     vendor/bin/phpstan --memory-limit=1G analyse
      #     php artisan test tests/Unit
